# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.idb
*.pdb
*.db
*.exp
*.ipdb
*.opendb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.log
*.tlog

# Fortran module files
*.mod
*.smod
/Projects/x64/
/Projects/TeethStudio/GeneratedFiles/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
moc*.cpp

# Executables
*.exe
*.out
*.app